
.yMonacoEditor {
  margin-top: 2rem;
  border: 2px solid #CCCCCC;
  border-radius: 4px;
  width: 100%;
}

/* lifted from https://github.com/yjs/y-monaco/blob/master/demo/index.html */
.yRemoteSelection {
  opacity: 0.5;
}

.yRemoteSelectionHead {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-right: none;
  height: 100%;
  box-sizing: border-box;
}

.yRemoteSelectionHead::after {
  position: absolute;
  content: ' ';
  border-width: 3px;
  border-style: solid;
  border-radius: 4px;
  left: -2px;
  top: -15px;
  color: white;
  padding: 0px 2px;
}